%table.twelve.columns
  %tr
    %td.panel
      %h1
        %a{:href => "https://avito.ru/460863252"}
          = mail_medium['title']
      %p
        %a{:href => "https://avito.ru/460863252"}
          %img{:src => "http://37.img.avito.st/100x75/1223715537.jpg"}/

      %hr/
      %table.container
        %tr
          %td
            %table.block-grid.three-up
              %tr
                %td
                  %p.lead №: 460863252
                %td
                  %p.lead +7(911)501-12-41
                %td
                  %p.lead 899999999 Руб.
    %td.expander
%br/
