.row.main
  .large-8.large-offset-2.columns.panel.form-work
    %form#form-invite{:action => "/beta", :method => "POST"}
      .row
        %h1 
          Мониторинг обьявлений Avito
          %small
            Купи быстрее и дешевле других
        %p
          На авито размещается в день примерно 300 тысяч обьявлений. В таком сложно найти что то подходящее. Вы хотите первым купить уникальный товар или автоматически реагировать разными способами на новые обьявления? Тогда этот сервис для вас. 
        
        .alert-box.radius#alert-form-work
          Приватный запуск состоится 10 ноября!

        %h4 Хочу получить инвайт
        .large-12.columns
          .row.collapse
            .small-10.columns
              %input{:placeholder => "Укажите E-mail или номер сотового.", :type => "text", :name => "inv", :maxlength => 100 }/
            .small-2.columns
              %button.postfix{:href => "#"} Ok!
    

    
