.row.main
  .large-8.large-offset-2.columns.panel.form-work
    .row
      %h1 
        Мониторинг обьявлений Avito
        %br/
        %small
          Купи быстрее и дешевле других
      %p
        На авито размещается в день примерно 300 тысяч обьявлений. В таком сложно найти что то подходящее. Вы хотите первым купить уникальный товар или автоматически реагировать разными способами на новые обьявления? Тогда этот сервис для вас.

      %p 
        Текущая версия находится в стадии тестирования! Гневные письма пишем на  
        %a{:href => "mailto:dev@0liva.ru"} dev@0liva.ru

        