.row.main
  .large-8.large-offset-2.columns.panel.form-work
    .row
      %h2 
        Мониторинг и постинг объявлений 
        %small Купи дешевле или продай дороже на Avito

      %p На Авито размещается в день примерно 300 тысяч объявлений. В таком сложно найти что то подходящее. Вы хотите первым купить уникальный товар или автоматически реагировать разными способами на новые объявления? Или размещать новые объявления автоматически. Тогда этот сервис для вас.

      %p Если у вас есть собственный бизнес и требуется часто выгружать большое количество позиций на авито, мы можем предоставить API или индивидуально написать плагин к вашему проекту.

      %p Добавлена функия автоматического постинга(дубликации) объявлений на авито.

      %p Собранна неплохая база avito.ru. Порядка 62 миллиона объявлений.

      %p В стадии разработки бот для "контактика". 

      %p Внимание база сброшенна. 

      %h3 Контакты 
      %ul
        %li
          %a{:href => "https://vk.com/0liva"} Группа Вконтакте
        %li
          %a{:href => "mailto:dev@0liva.ru"} Почта


        