%h1 
  Авито автопостинг
  %small
    редактирование

#avito-dash.hide ok


.row
  .large-12.columns
    = render 'form'

//= link_to 'Show', @avito_posting
//\|
//= link_to 'Back', avito_postings_path
