// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.beta{
  background-image: url('logo-bg.svg');
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main{
  height: 100%;
}

.form-work{
  margin-top: 100px;
  opacity: 0.9px;
}

.oliva{
  background-image: url('logo-sm.svg');
  background-repeat: no-repeat;
  padding-left: 50px !important;
}

.active{
  background-color:#43AC6A;
}


// loader animate
#loader-wraper{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  //и пошли другие браузеры на ...
  background: linear-gradient(135deg, rgba(51,51,51,0.2) 0%,rgba(85,85,85,0.4) 100%); /* W3C */
}

.loader {
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
  margin: auto;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  vertical-align: middle;
  background: linear-gradient(135deg, rgba(100,100,100,0.2) 0%,rgba(85,85,85,0.4) 100%); /* W3C */

}

body.loading #loader-wraper{
  display: inherit;
}

//notification 

#agnid{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
