%h1 Загруженные изображения

%table{:width=>"100%"}
  %thead
    %tr
      %th Name
      %th Img
      %th Class
      //%th User
      //%th
      //%th
      //%th

  %tbody
    - @images.each do |image|
      %tr
        %td= image.name
        %td
          %img{:src=>"/image/#{current_user.id}/#{image.img_hash}.jpg", :width=> "240px"}
        %td= image.img_class
        //%td= image.user_id
        //%td= link_to 'Show', image
        //%td= link_to 'Edit', edit_image_path(image)
        //%td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br