%ul#menu
  -if user_signed_in?
    %li
      =link_to "#c-avito", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
        %span Avito
      %ul#c-avito{:class=> collapse("avito")}
        %li
          =link_to avito_tasks_path do
            %span Мониторинг
        %li
          =link_to avito_postings_path do
            %span Постинг
        %li
          =link_to avito_accounts_path do
            %span Аккаунты
        
        - if current_user.role_id >= 1024

          %li
            =link_to avito_finds_path do
              %span Поиск

    - if current_user.role_id >= 1024

      %li
        =link_to "#c-vk", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
          %span Vkontakte
        %ul#c-vk{:class=> collapse("vk")}
          %li
            =link_to vk_finds_path do
              %span Поиск 
          %li
            =link_to vk_invites_path do
              %span Добавление в друзья
          %li
            =link_to vk_accounts_path do
              %span Аккаунты


  -else
    %li
      =link_to new_user_session_path do
        %span Вход
    %li
      =link_to new_user_registration_path do
        %span Регистрация
  %li
    =link_to "#c-info", :data =>  {:toggle=>"collapse", :parent=>"#menu" } do
      %span Инфо
    %ul.collapse#c-info
      %li
        =link_to "http://info.0liva.ru/faq" do
          %span FAQ
      %li
        =link_to "http://info.0liva.ru/help" do
          %span Справка
      %li
        =link_to "http://info.0liva.ru/" do
          %span Блог


  -if user_signed_in?

    %li
      =link_to "#c-account", :data => {:toggle=>"collapse", :parent=>"#menu" } do
        %span Аккаунт
      %ul#c-account{:class=> collapse(["devise", "devise_invitable", "images", "roles"]) }
        %li
          =link_to new_user_invitation_path do
            %span Пригласить
        %li
          =link_to images_path do
            %span Картинки
        
        - if current_user.role_id >= 1024
          %li
            =link_to roles_path do
              %span Групы

        %li
          =link_to  edit_user_registration_path do
            %span Основное


        %li
          =link_to destroy_user_session_path, :method => :delete do
            %span Выход







