%ul#menu
  -if user_signed_in?
    %li
      =link_to "#c-avito", :data => {:toggle=>"collapse"} do
        %span Avito
      %ul#c-avito{:class=> collapse("avito")}
        %li
          =link_to avito_tasks_path do
            %span Мониторинг
        %li
          =link_to avito_postings_path do
            %span Постинг
        %li
          =link_to avito_accounts_path do
            %span Аккаунты
        %li
          =link_to "" do
            %span Поиск

    %li
      =link_to "#c-vk", :data => {:toggle=>"collapse"} do
        %span Vkontakte
      %ul#c-vk{:class=> collapse("vk")}
        %li
          =link_to "#" do
            %span Мониторинг
        %li
          =link_to "#" do
            %span Постинг
        %li
          =link_to "#" do
            %span Аккаунты


  -else
    %li
      =link_to new_user_session_path do
        %span Вход
    %li
      =link_to new_user_registration_path do
        %span Регистрация
  %li
    =link_to "#c-info", :data => {:toggle=>"collapse"} do
      %span Инфо
    %ul.collapse#c-info
      %li
        =link_to "http://info.0liva.ru/faq" do
          %span FAQ
      %li
        =link_to "http://info.0liva.ru/help" do
          %span Справка
      %li
        =link_to "http://info.0liva.ru/" do
          %span Блог


  -if user_signed_in?

    %li
      =link_to "#c-account", :data => {:toggle=>"collapse"} do
        %span Аккаунт
      %ul#c-account{:class=> collapse("users") }
        %li
          =link_to new_user_invitation_path do
            %span Пригласить
        %li
          =link_to images_path do
            %span Картинки
        %li
          =link_to  edit_user_registration_path do
            %span Основное
        %li
          =link_to destroy_user_session_path, :method => :delete do
            %span Выход



